<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify email</title>
  </head>
  <body>
    <div>
      <p>Enter your email to continue</p>

      <form action="/forgot" method="post">
        <input type="email" name="email" id="email" placeholder="Email" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
